
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: 	black;
}
.empty-image {
    width: 200px;
    height: auto;
    
}


body {
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: url("background.jpg") no-repeat center center/cover;
}



.todo-app {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    border: 3px solid rgba(68, 77, 77, 0.6);
    backdrop-filter: blur(10px); 
}


.todo-app h1{
    font-size: 2rem;
}

.input-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-area input{
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    background-color:	rgba(245,245,220);
}

.input-area button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 30%;
    font-size: 1.1rem;
    background-color: rgba(245,245,220);
    border: 2px solid rgba(68, 77, 77, 0.6);
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-area button:hover{
    transform: scale(1.1);
    background-color: 	#7FFFD4;
}

.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-list{
    width: 100%;
}

.todos-container li {
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

#task-list{
    color: black;
    font-size: 24px;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #c00;
    font-weight: bold;
    margin-left: 100px; 
}

.empty-image {
    width: 200px;
    display: block;
    margin: 20px auto 0 auto; 
}